@charset "utf-8";

$width: 800px;

body{
  display:block;
  background-color: #DDD;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
  color:inherit;
  text-decoration:inherit;
}
.left{
  float:left;
}
.right{
  float:right;
}
#app{
  width:$width;
  margin-left:auto;
  margin-right:auto;    
}
#content{
  width:$width;
  padding-top:80px;
}
.scroll_content{
  margin-left: -16px;
  margin-right: -16px;
  width:$width + 2*14;
}
.scroll_left_hold{
  float:left;
  height:133px;
  width:14px;
}
.scroll_left{
  display:hidden;
  float:left;
  height:100%;
  width:100%;
  background-color:#333;
  opacity:0.7;
}
.scroll_icon{
  margin-top:133px/2 - 10px;
}
.scroll_right_hold{
  float:right;
  height:133px;
  width:14px;
}
.scroll_right{
  float:right;
  height:100%;
  width:100%;
  background-color:#333;
  opacity:0.7;
}
.nav{
  padding:6px;
  margin-bottom:6px;
  width:$width - 2*6px;
  height: 26px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background-color: #492B5D;
  background: -webkit-linear-gradient(top,#55356A 0,#3E2151 100%);
  background: -moz-linear-gradient(top,#55356A 0,#3E2151 100%);
  background: -o-linear-gradient(top,#55356A 0,#3E2151 100%);
  background: -ms-linear-gradient(top,#55356A 0,#3E2151 100%);
  background: linear-gradient(top,#55356A 0,#3E2151 100%);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.nav_item_home{
  margin-top:2px;
  float:left;
  margin-left: 20px;
  margin-right: 20px;
}
.nav_item{
  float:left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top:4px;
  height:12px;
  font-size:14px;
  font-weight:bold;
  color:#EEE;
}
.icon_home{
    width:23px;
    height:21px;
    background:url(../images/home_icon.png) 0 0;
}
.icon_quirky{
    width:131px;
    height:36px;
    background:url(../images/logo-medium-white.png) 0 0;
}
.list_content_hold{
  width:$width;
  height:133px;
  overflow:hidden;
}
.list_content{
}
.pic_item{
  float:left;
}
.pic_item_normal{
  width:200px;
  height:133px;
}
.pic_item_featured{
  width:800px;
  height:300px;
}
.pic{
  position:relative;
  margin-left:2px;
  margin-right:3px;
  cursor:pointer;
}
.pic_normal{
  width:195px;
  height:133px;
}
.pic_featured{
  width:525px;
  height:300px;
}
.pic_img{
  width:100%;
  height:100%;
}
.pic_header{
  display:none;
  padding:4px 6px 4px 6px;
  position:absolute;
  top:0px;
  left:0px;
  background-color:#333;
  opacity:0.7;
  font-size:12px;
  color:#AAA;
}
.pic_footer{
  padding:4px 6px 4px 6px;
  position:absolute;
  bottom:0px;
  left:0px;
  background-color:#333;
  opacity:0.9;
  font-size:12px;
  color:#CCC;
}
.pic_footer_normal{
  width:195px - 2*6px;
}
.pic_footer_featured{
  width:525px - 2*6px;
}
.pic_footer_info{
  height:14px;
  margin-bottom:4px;
}
.pic_footer_name{
  float:left;
  height:12px;
  font-size:14px;
  font-weight:bold;
  color:#96F;
}
.pic_footer_price{
  float:right;
  height:12px;
  font-size:14px;
  font-weight:bold;
  color:#CCC;
}
.pic_footer_tagline{
  font-weight:bold;
  font-size:12px;
  color:#CCC;
  display:none;
}
.pic_footer_summary{
  font-weight:normal;
  font-size:12px;
  color:#CCC;
  display:none;
}
.product_info{
  display:hidden;
  float:left;
  width:800px - 530px - 16px - 2*3px;
  height:300px;
  margin-left:16px;
  margin-right:3px;
}
.product_purchase{
  width:800px - 530px - 16px - 2*3px - 2*14px;
  height:146px - 2*14px;
  background-color: #F8F8F8;
  border-radius:5px;
  border: 1px #EEE solid;
  padding:14px;
}
.purchase_name{
  height:18px;
  font-size:20px;
  font-weight:bold;
  color:#222;
  margin-bottom:6px;
}
.purchase_tagline{
  height:12px;
  font-size:14px;
  font-weight:bold;
  color:#AAA;
  margin-bottom:10px;
}
.purchase_price{
  color: #335687;
}
.purchase_divide{
  margin-top:6px;
  border-top: 1px #DDD solid;
  margin-bottom:12px;
}
$btn_margin: 44px;
.purchase_addtocart{
  margin-left:$btn_margin;
  margin-right:$btn_margin;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
}.purchase_addtocart:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}.purchase_addtocart:active {
  position:relative;
  top:1px;
}
.product_influence{
  margin-top:12px;
  width:800px - 530px - 16px - 2*3px - 2*14px;
  height:138px - 2*14px;
  background-color: #CFF;
  border-radius:5px;
  border: 1px #EEE solid;
  padding:14px;
}
.product_influence_title{
  height:12px;
  font-size:14px;
  font-weight:bold;
  color:#335687;
  margin-bottom:16px;
}
.product_invent{
  padding-left: 10px;
  height:50px;
  margin-bottom: 10px;
}
.product_invent_pic{
  float:left;
  width:50px;
  height:50px;
}
.product_invent_name{
  margin-top: 10px;
  margin-left: 10px;
  float:left;
  height:12px;
  font-size:14px;
  font-weight:bold;
  color:#999;
  margin-bottom:10px;
}
.product_influence_count{
  padding-left: 10px;
}
.product_influence_count_title{
  float:left;
  height:10px;
  font-size:12px;
  font-weight:bold;
  color:#7084A0;
}
.product_influence_count_number{
  float:left;
  height:10px;
  font-size:12px;
  font-weight:bold;
  color:#5A6A80;
  margin-left:6px;
}
.list_footer {
  padding:6px;
  margin-top:6px;
  width:$width - 2*6px;
  height: 36px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  background-color: #492B5D;
  background: -webkit-linear-gradient(top,#55356A 0,#3E2151 100%);
  background: -moz-linear-gradient(top,#55356A 0,#3E2151 100%);
  background: -o-linear-gradient(top,#55356A 0,#3E2151 100%);
  background: -ms-linear-gradient(top,#55356A 0,#3E2151 100%);
  background: linear-gradient(top,#55356A 0,#3E2151 100%);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.power{
  margin-top:4px;
  margin-right:6px;
  float:right;
  height:10px;
  font-size:12px;
  font-weight:bold;
  color:#EEE;
}